body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: teal url(https://assets.codepen.io/15664/bliss.jpg) center / cover no-repeat;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(var(--pieces), 1fr);
    grid-template-rows: repeat(var(--pieces), 1fr);
    gap: 2px;
    margin-bottom: 20px;
    user-select: none;
    position: relative;
    width: var(--qr-size); 
    height: var(--qr-size); 
    border: 2px solid #0026ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.puzzle-piece {
    width: calc(100% / var(--pieces));
    height: calc(100% / var(--pieces));
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
    position: absolute;
    padding: auto;
    margin: auto;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#shuffle-button {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 25%;
    background-color: #002fff;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

#message {
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-align: center;
}

#author {
    display: inline;
    margin-top: 20px;
    font-size: 16px;
    color: #d40000;
    text-align: center;
    font-weight: bolder;
}

#author p {
    margin: 5px 0;
    background-color: #ffffff;
    border-radius: 25%;
    padding: 1px;
    margin: auto;
}

#author a {
    color: blue;
    text-decoration: underline;
}
